main{
    grid-template-columns: 25px auto auto 25px;
    align-content: center;
    justify-content: center;

    row-gap: 15px;
    column-gap: 15px;
    padding: 15px;
}
main > div.espaço1{
    grid-area: 1 / 1 / -1 / 2;
}
main > section.ficha{
    grid-area: 1 / 2 / 2 / 3;
    max-width: 330px;
    max-height: auto;
    border-radius: 10px;
}
main > section.ficha > p{
    line-height: 1.6;
}
main > section.detalhes{
    grid-area: 1 / 3 / -1 / 4;
    max-width: 830px;
    min-width: 650px;
    width: 100%;
}
main > section.detalhes > article.apresentação > iframe{
    height: 410px;
}
main > section.detalhes > article.skills > ul{
    display: block;           /* ou não definir nada (padrão é block) */
    columns: 2;
    -webkit-columns: 2;
    -moz-columns: 2;
    list-style-position: inside;
    /* evita que um <li> seja partido entre colunas */
    break-inside: avoid;
    -webkit-column-break-inside: avoid;
    -moz-column-break-inside: avoid;
}
main > section.detalhes > article.skills > ul > li{
    margin-bottom: 15px;   
}
main > section.detalhes > article.projetos > div.projeto > div{
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
}
main > section.detalhes > article.projetos > div.projeto > div > img{
    width: 300px;
}
main > div.espaço2{
    grid-area: 1 / 4 / -1 / -1;
}