@charset "UTF-8";

*{
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
    list-style: none;
    margin: 0;
    padding: 0;
}

:root{
    --color1: #F1F4F1;
    --color2: #0369FD;
    --color3: #0367fd80;
    --color4: #ececec;
}
:root.dark{
    --color1: #353535;
    --color2: red;
    --color3: #ff000080;
    --color4: gray;
}
html{
    scroll-behavior: smooth;
}
body{
    background-color: var(--color1);
    width: 100%;
    height: 100%;
}
header{
    background-color: var(--color2);
    width: 100%;
    height: 50px;
    display: flex;

    justify-content: end;
    align-items: center;
}
header > nav{
    width: auto;
    height: 50px;
    margin-right: 25px;

    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 50px;
}
header > nav > a, i{
   text-align: center;
   height: 20px;
}

main{
    height: 100%;
    width: 100%;

    display: grid;
    grid-template-columns: 25px 1fr 25px;
    grid-template-rows: auto 1fr;
    
    row-gap: 15px;
}
main > div.espaço1{
    background-color: var(--color1);
    grid-area: 1 / 1 / -1 / 2;
}
main > section.ficha{
    background-color: var(--color4);
    padding: 15px;
    border-radius: 0 0 10px 10px;

    grid-area: 1 / 2 / 2 / 3;
}
main > section.ficha > div.perfil{
    padding: 5px;
    border: 5px solid var(--color2);
    background-color: var(--color4);
    width: 200px;
    height: 200px;  
    border-radius: 50%;
    margin: auto;
}
main > section.ficha > div.perfil > div.img{
    background: url(/imagens/guanabara-perfil.jpg) center center no-repeat scroll;
    background-size: cover;
    width: 100%;
    height: 100%;  
    border-radius: 50%;
}
main > section.ficha > h1{
    color: var(--color2);
    margin: 5px 0 10px 0;
}
main > section.ficha > div.link{
    width: 180px;
    margin: 10px auto auto auto;

    display: flex;
    justify-content: center;
    align-items: center;
}
main > section.ficha > div.link > a > i{
    color: var(--color2);
}
main > section.detalhes{
    grid-area: 2 / 2 / -1 / 3;
}
main > section.detalhes > article{
    background-color: var(--color4);
    padding: 15px;
    border-radius: 10px;
    margin: 0 0 15px 0;
}
main > section.detalhes > article > h2{
    color: var(--color2);
    margin-bottom: 10px;
}
main > section.detalhes > article > h2 > i{
    color: var(--color2);
}
main > section.detalhes > article.apresentação > iframe{
    border-radius: 15px;
}
main > section.detalhes > article.skills > ul{
    gap: 15px;
    display: flex;
    flex-direction: column;
}
main > section.detalhes > article.skills > ul > li{
    display: flex;
    flex-direction: column;
}
main > section.detalhes > article.skills > ul > li > div.skill{
    display: flex;
    justify-content: space-between;
}
main > section.detalhes > article.skills > ul > li > div.skill > p{
    color: var(--color2);
    font-size: 1.1em;
    font-weight: bolder;
}
main > section.detalhes > article.skills > ul > li > div.barra{
    height: 7px;
    width: 100%;
    background-color: rgba(128, 128, 128, 0.2);
    border-radius: 5px;
}
main > section.detalhes > article.skills > ul > li > div.barra > div{
    height: 7px;
    background-color: var(--color3);
    border-radius: 5px;
}
div.barra > div.progresso1{width: 90%;}
div.barra > div.progresso2{width: 80%;}
div.barra > div.progresso3{width: 75%;}
div.barra > div.progresso4{width: 60%;}
div.barra > div.progresso5{width: 100%;}
div.barra > div.progresso6{width: 90%;}
div.barra > div.progresso7{width: 85%;}
div.barra > div.progresso8{width: 80%;}
main > section.detalhes > article.formação{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
main > section.detalhes > article.formação > div.curso{
    background-color: var(--color3);
    border-radius: 10px;
    width: 100%;
    display: flex;
    flex-direction: row-reverse;

    transition: all .5s ease-in-out;
}
main > section.detalhes > article.formação > div.curso:hover{
    background-color: var(--color2);
}
main > section.detalhes > article.formação > div.curso > div{
    background-color: #ececec;
    border-radius: 8px;
    width: 99%;
    padding: 5px;

    transition: all 0.5s ease-in-out;
}
main > section.detalhes > article.formação > div.curso > div:hover{
    width: 97%;
    cursor: pointer;
}
main > section.detalhes > article.formação > div.curso > div > p.faculdade{
    color: var(--color3);
    font-size: 1.05em;
    margin: 3px 0;
}
main > section.detalhes > article.projetos{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
main > section.detalhes > article.projetos > div.projeto{
    background-color: var(--color3);
    border-radius: 10px;
    width: 100%;
    display: flex;
    flex-direction: row-reverse;

    transition: all .5s ease-in-out;
}
main > section.detalhes > article.projetos > div.projeto:hover{
    background-color: var(--color2);
    cursor: pointer;
}
main > section.detalhes > article.projetos > div.projeto > div{
    background-color: #ececec;
    border-radius: 0 8px 8px 0;
    width: 99%;
    padding: 5px;

    transition: all 0.5s ease-in-out;
}
main > section.detalhes > article.projetos > div.projeto > div:hover{
    width: 97%;
}
main > section.detalhes > article.projetos > div.projeto > div > img{
    width: 100%;
    border-radius: 10px;
}
main > section.detalhes > article.projetos > div.projeto > div > p.nome{
    font-size: 1.1em;
    margin: 3px 0;
}
main > div.espaço2{
    background-color: var(--color1);
    grid-area: 1 / 3 / -1 / 4;
}
footer{
    background-color: var(--color2);
}
footer > p{
    color: white;
    text-align: center;
    padding: 15px;
}